input[type="checkbox"],
.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: var(--radius-sm);
  border: var(--border-sm) solid var(--color-spacer-light);
  background: var(--color-brand-white);
  position: relative;
  display: inline-block;
  transition: border-color 0.15s ease;

  &:hover:not(:disabled) {
    outline: var(--border-sm) solid var(--color-spacer-light);
    cursor: pointer;
  }

  // Checkmark element
  &::before {
    content: "";
    position: absolute;
    left: 2px;
    top: -2px;
    width: 6px;
    height: 11px;
    border-right: var(--border-md) solid var(--color-brand-primary);
    border-bottom: var(--border-md) solid var(--color-brand-primary);
    transform: scale(0) rotate(45deg);
    transform-origin: bottom left;
    transition: transform 0.15s ease-out;
    pointer-events: none;
  }

  &:checked::before {
    transform: scale(1) rotate(45deg);
  }

  &.error {
    border-color: var(--color-brand-secondary);
    &:hover:not(:disabled) {
      outline: var(--border-sm) solid var(--color-brand-secondary);
    }
    &::before {
      border-right: var(--border-md) solid var(--color-brand-secondary);
      border-bottom: var(--border-md) solid var(--color-brand-secondary);
    }
  }

  &:disabled {
    cursor: not-allowed;
    border-color: var(--color-border);
    background: var(--color-disabled);

    &::before {
      border-color: var(--color-border);
    }
  }
}
