@property --val {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}
@property --e {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

label {
  --c: var(--color-brand-primary); /* slider color */
  --g: round(0.25rem, 1px); /* the gap */
  --l: round(0.25rem, 1px); /* line thickness*/
  --s: round(1.25rem, 1px); /* thumb size*/
  --t: round(0.5rem, 1px); /* tooltip tail size */
  --r: round(0.25rem, 1px); /* tooltip radius */

  timeline-scope: --thumb-view;
  position: relative; /* No, It's not useless so don't remove it (or remove it and see what happens) */
  font-size: var(--text-sm);
}

input {
  width: 400px;
  height: var(--s); /* needed for Firefox*/
  --_c: color-mix(in srgb, var(--c), var(--color-black-900) var(--p, 0%));
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  font-size: inherit;
}
input:focus-visible,
input:hover {
  --p: 25%;
}
input:active,
input:focus-visible {
  --_b: var(--s);
}
/* chromium */
input[type="range" i]::-webkit-slider-thumb {
  height: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--color-brand-primary);
  border-image: linear-gradient(
      90deg,
      var(--color-brand-primary) 50%,
      var(--color-spacer-light) 0
    )
    0 1 / calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
  anchor-name: --thumb;
  view-timeline: --thumb-view inline;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: var(--s);
  width: var(--s);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(
      90deg,
      var(--_c) 50%,
      var(--color-spacer-light) 0
    )
    0 1 / calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
  anchor-name: --thumb;
  view-timeline: --thumb-view inline;
}
output {
  animation: range linear both;
  animation-timeline: --thumb-view;
  animation-range: entry 100% exit 0%;
}

// This is for the tooltip
output:before {
  content: counter(num);
  counter-reset: num var(--val);
  position-anchor: --thumb;
  position: absolute;
  position-area: top;
  justify-self: unsafe anchor-center;
  color: var(--color-brand-white);
  text-align: center;
  padding-block: 0.5rem;
  width: 2rem;
  background: inherit;
  --e: var(--val);
  transition: --e 0.1s ease-out;
  rotate: calc((var(--e) - var(--val)) * 2deg);
  transform-origin: 50% calc(100% + var(--s) / 2);
  border-bottom: var(--t) solid #0000;
  border-radius: var(--r) / var(--r) var(--r) calc(var(--r) + var(--t))
    calc(var(--r) + var(--t));
  --_m: 100% / var(--t) calc(var(--t) + 1px) no-repeat;
  --_g: 100%, #0000 99%, #000 102%;
  mask: linear-gradient(#000 0 0) padding-box,
    radial-gradient(100% 100% at 100% var(--_g)) calc(50% + var(--t) / 2)
      var(--_m),
    radial-gradient(100% 100% at 0 var(--_g)) calc(50% - var(--t) / 2) var(--_m);
}
output.bottom:before {
  position-area: bottom;
  border-top: var(--t) solid #0000;
  border-bottom: none;
  rotate: calc((var(--val) - var(--e)) * 2deg);
  transform-origin: 50% calc(var(--s) / -2);
  border-radius: var(--r) / calc(var(--r) + var(--t)) calc(var(--r) + var(--t))
    var(--r) var(--r);
  --_m: 0% / var(--t) calc(var(--t) + 1px) no-repeat;
  --_g: 0%, #0000 99%, #000 102%;
}

@keyframes range {
  0% {
    background: var(--color-brand-primary);
    --val: var(--max);
  }
  100% {
    background: var(--color-brand-primary);
    --val: var(--min);
  }
}

@supports not (anchor-name: ---) {
  output {
    // display: none;
  }
}
