ol,
ul {
  list-style: none;
}

.tree {
  color: var(--font-color-base);
  font-size: var(--text-sm);

  ol,
  ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  input[type="checkbox"]:checked ~ ol,
  input[type="checkbox"]:checked ~ ul {
    max-height: 500px; // big enough to fit submenu
  }

  label {
    display: block;
    position: relative;
    cursor: pointer;
  }

  input[type="checkbox"] {
    display: none;
  }

  // Chevron
  label::after {
    content: "";
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 6px;
    height: 6px;
    border-right: var(--border-md) solid var(--font-color-base);
    border-bottom: var(--border-md) solid var(--font-color-base);
    transition: transform 0.2s;
  }

  input[type="checkbox"]:checked + label::after {
    transform: translateY(-50%) rotate(45deg);
  }
}

.tree-item {
  width: 100%;
  padding: 0.75rem 0.5rem;
  border-left: var(--border-lg) solid transparent;

  &:hover {
    background: var(--color-brand-white);
    border-radius: var(--radius-sm);
    cursor: pointer;
    border-left: var(--border-lg) solid var(--color-brand-primary);
  }
}

li {
  margin-left: 1rem;
}
