@use "../tokens/colors" as *;

@mixin generate-color-utilities($colors-map) {
  @each $name, $value in $colors-map {
    // Background color
    .bg-color-#{$name} {
      background-color: $value;
    }

    // Text color
    .text-color-#{$name} {
      color: $value;
    }

    // Border color
    .border-color-#{$name} {
      border-color: $value;
    }
  }
}

@include generate-color-utilities($colors-map);
