@use "../tokens/spacing" as *;

@mixin generate-spacing-utilities($scale) {
  @each $key, $value in $scale {
    .p-#{$key} {
      padding: $value;
    }
    .pt-#{$key} {
      padding-top: $value;
    }
    .pb-#{$key} {
      padding-bottom: $value;
    }
    .pl-#{$key} {
      padding-left: $value;
    }
    .pr-#{$key} {
      padding-right: $value;
    }

    .m-#{$key} {
      margin: $value;
    }
    .mt-#{$key} {
      margin-top: $value;
    }
    .mb-#{$key} {
      margin-bottom: $value;
    }
    .ml-#{$key} {
      margin-left: $value;
    }
    .mr-#{$key} {
      margin-right: $value;
    }

    .gap-#{$key} {
      gap: $value;
    }
  }
}

@include generate-spacing-utilities($spacing-scale);
