$colors-map: (
  brand-primary: #2a2889,
  brand-primary-hover: #5553a1,
  brand-primary-dark: #13124e,

  brand-secondary: #e04913,
  // brand-secondary-hover: #e66d42,
  brand-secondary-hover: #ffd8ca,
  brand-secondary-click: #ffb498,
  brand-secondary-dark: #7a2a0a,

  brand-white: #ffffff,
  brand-light-grey: #f4f5fa,
  disabled: #d4d2d5,

  border: #aba7af,
  black-900: #1a141f,
  black-700: #34283e,
  spacer: #d9d1e0,
  spacer-light: #e5e0eb,
  hint: #4b3a5a,
);

:root {
  @each $name, $value in $colors-map {
    --color-#{$name}: #{$value};
  }
}
