:root {
  --shadow-xs: 0 10px 15px 0 rgba(211, 192, 214, 0.07);
  --shadow-sm: 0 8px 16px 0 rgba(62, 19, 77, 0.07);
  --shadow-md: 0 15px 30px 0 rgba(62, 19, 77, 0.09);
  --shadow-lg: 0 10px 30px 0 rgba(62, 19, 77, 0.47);
}
